<% layout('layouts/boilerplate') %>
<div class="row">
	<div class="col-6 offset-3">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading"><%=err.message%></h4>
			<p>
				So you thought you could get away with your nasty plans, eh? Well, think again. I'm on to you and your evil ways. I will find you and
				torture your cat. There is no place where you can hide from me -Mr. Pickle
			</p>
			<hr />
			<p class="mb-0">You should probably turn around with your tail between your legs. Run you clever boy and remember!</p>
		</div>
	</div>
</div>
